# Backend
MODELS_DIR=/app/models
MAX_FILE_SIZE_MB=50
CORS_ORIGINS=http://localhost:5173,http://localhost:80

# Dataset paths (used only for training notebook — not at runtime)
EMBER_DATASET_DIR=D:\Malware_V2\datasets\ember2018
BIG2015_DATASET_DIR=D:\Malware_V2\datasets\Microsoft Malware Classification
